<% currently_at 'Home'%>

<main class="my-5">
  <section>
    <div class="container">
      <div class="text-center">
        <div class="p-3"></div>
        <div class="row">
          <% @works.each do |work| %>
            <div class="col-lg-4 col-md-6 mb-3">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <div class="img-fluid">
                    <%= link_to image_tag(work.img.url,
                                          size: '414x290'), work_path(work) %>
                  </div>
                  <div class="mask"
                       style="background-color: rgba(251, 251, 251, 0.15);">
                  </div>
                </div>
                <div class="card-body">
                  <h2 class="card-title">
                    <%= link_to work.title.capitalize, work_path(work),
                                class: 'text-decoration-none text-reset' %>
                  </h2>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>

      <div class="p-4"></div>

  <section class="my-4">
    <div class="container">
      <div class="text-center">
        <h1 class="mb-5">
          <strong>Posts</strong>
        </h1>
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <div class="img-fluid">
                    <%= link_to image_tag(post.img.url,
                                          size: '414x290'), post_path(post) %>
                  </div>
                  <div class="mask"
                       style="background-color: rgba(251, 251, 251, 0.15);">
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to post.title.capitalize, post_path(post),
                                class: 'text-decoration-none text-reset'%>
                  </h4>
                  <p class="card-text"></p>
                    <%= link_to 'Read', post %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%= paginate @posts %>
      </div>
    </div>
  </section>
</main>