<% @blogs.each do |blog|  %>

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card card-blog">
      <figure class="snip">

        <%= image_tag(blog.img.url,
                              size: '400x300',
                               alt: 'no_image', class: 'blog-index-image') %>
        <figcaption>
          <h2><span>

            <%= sanitize blog.title.capitalize%>

          </span></h2>
          <p>
            <%= simple_format blog.body.truncate(90, separator: ' ') %>
          </p><br>

            <%= link_to '', blog_path(blog),
                              class: 'text-decoration-none text-reset' %>
          <p><b>

            <% if current_user.try(:admin) %>
              <%= link_to t('global.button.edit').upcase, edit_blog_path(blog),
                              class: 'text-start my-2' %>
              <%= link_to t('global.button.delete').upcase, blog_path(blog),
                              data: {  turbo_method: :delete,
                                      turbo_confirm: t('global.dialog.you_sure')},
                              class: 'text-center my-2' %>
            <% end %>

            </b>
          <h2 class="text-end">

            <%= link_to "🡪", blog_path(blog),
                              class: 'text-decoration-none text-reset' %>

          </h2>
        </figcaption>
      </figure>
    </div>
  </div>
<% end %>
