<% provide :page_title, t('devise.registrations.new.title') %>
<% currently_at t('devise.registrations.new.title') %>
<main class="my-5">
  <div class="container">
    <div class="text-center">
      <h1 class="mb-5">
        <strong><%= t('devise.registrations.new.title') %></strong>
      </h1>
      <div class="row">
        <div class="col-lg-12 col-md-6 mb-4">

          <%= form_for(resource,
                       as: resource_name,
                       url: registration_path(resource_name)) do |f| %>

            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field my-1">
              <%= f.label :email %><br />
            </div>
            <div class="field my-0">
              <%= f.email_field :email,
                                autofocus: true,
                                autocomplete: "off",
                                placeholder: 'Email' %>
            </div>

            <div class="field my-1">
              <%= f.label :password %><br />
            </div>
            <div class="field my-2">
              <%= f.password_field :password,
                                   autocomplete: t('devise.autocomplete.new-password'),
                                   placeholder: t('devise.autocomplete.password') %>


            </div>

            <div class="field my-1">
              <%= f.label :password_confirmation %><br />
            </div>
            <div class="field my-2">
              <%= f.password_field :password_confirmation,
                                   autocomplete: t('devise.autocomplete.password_confirm'),
                                   placeholder: t('devise.autocomplete.password_confirm') %>
            </div>

            <div class="actions my-3">
              <%= f.submit t('devise.registrations.new.button') ,
                           class: 'btn btn-dark' %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</main>