<% currently_at 'User'%>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">

        <div class="mask"
             style="background-color: rgba(251, 251, 251, 0.15);">
        </div>
      </div>
      <div class="card-body">

        <p class="card-text text-end mx-5">

          <% if user_signed_in? %>
            <a href="#" class="'btn btn-light btn-sm'">
              Welcome, <%= current_user.email %>
            </a>
            <%= link_to 'Exit', destroy_user_session_path,
                      data: {'turbo-method': :delete },
                      class: 'btn btn-light btn-sm' %>
            <%= link_to 'Edit', edit_user_registration_path,
                        class: 'btn btn-light btn-sm' %>
          <% else %>

            <%= link_to 'Enter', new_user_session_path,
                        class: 'btn btn-light btn-sm' %>
            <%= link_to 'Registration', new_user_registration_path,
                        class: 'btn btn-light btn-sm' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>