<% @works.each do |work|  %>

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card">
      <figure class="snip">

        <%= image_tag(work.img.url,
                            size: '400x300',
                             alt: 'no_image', class: 'work-index-image') %>
        <figcaption>
          <h2><span>

            <%= work.title.capitalize %>

          </span></h2>
          <p>
            <% work.body.split(',').each do |line| %>
                <p>
              <%= line.upcase %>
                </p>
            <% end %>
            <%= link_to '', work_path(work),
                            class: 'text-decoration-none text-reset' %>
          <p><b>

            <% if current_user.try(:admin) %>

              <%= link_to t('global.button.edit').upcase, edit_work_path(work),
                            class: 'text-start my-2' %>

              <%= link_to t('global.button.delete').upcase, work_path(work),
                            data: {  turbo_method: :delete,
                                    turbo_confirm: t('global.dialog.you_sure')},
                            class: 'text-center my-2' %>
            <% end %>

          </b>
          <h2 class="text-end">

            <%= link_to "🡪", work_path(work),
                            class: 'text-decoration-none text-reset' %>

          </h2>
        </figcaption>
      </figure>
    </div>
  </div>
<% end %>