<% provide :page_title, t('devise.passwords.new.title') %>
<% currently_at t('devise.passwords.new.title') %>
<main class="my-5">
  <div class="container">
    <div class="text-center">
      <h1 class="mb-5">
        <strong><%= t('devise.passwords.new.title') %></strong>
      </h1>
      <div class="row">
        <div class="col-lg-12 col-md-6 mb-4">
            <%= form_for(resource,
                         as: resource_name,
                         url: password_path(resource_name),
                         html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field my-1">
                <%= f.label :email %>
              </div>
            <div class="field my-0">
                <%= f.email_field :email,
                                  autofocus: true,
                                  autocomplete: "off",
                                  palceholder: 'Email' %>
              </div>

              <div class="actions my-3">
                <%= f.submit t('devise.passwords.new.button'),
                             class: 'btn btn-dark' %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</main>