<%= provide :main_menu do %>
  <header class="p-2 bg-white text-white">
    <div class="container-fluid">
      <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-1 justify-content-center mb-md-0">
            <li>
              <%= nav_tab 'Home', root_path,
                          class: "nav-link", current_page: current_page %>
            </li>
            <li>
              <%= nav_tab 'Works', works_path,
                          class: 'nav-link px-2', current_page: current_page %>
            </li>
            <li>
              <%= nav_tab 'Posts', posts_path,
                          class: 'nav-link px-2', current_page: current_page %>
            </li>
            <li>
              <%= nav_tab 'Contacts', contacts_path,
                          class: 'nav-link px-2', current_page: current_page %>
            </li>
        </ul>
        <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
          <li class="dropdown">


            <ul class="dropdown-menu">
            </ul>
          </li>
        </ul>

        <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">

            <li class="dropdown">

              <ul class="dropdown-menu">
                <li>


                <li><hr class="dropdown-divider"></li>

                <li>

              </ul>
            </li>

            <li></li>

            <li></li>

        </ul>
      </nav>
    </div>
  </header>
<% end %>