<div class="modal hide fade in" id="sigh_up" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-content">

    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <%= form_for(User.new, url: registration_path(:user), html: {id: 'sign_up_user', :'data-type' => 'json'}, remote: true) do |f| %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

          <% if Devise.mappings[:user].rememberable? -%>

        <div class="actions my-3">
          <%= f.submit "Sign up" %>
        </div>
        <% end %>
    </div>

    <div class="modal-footer"></div>

  </div>
</div>