<% @posts.each do |post|  %>
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <div class="img-fluid">
          <%= image_tag(post.img.url,
                        size: '414x290') %>
        </div>
        <div class="mask"
             style="background-color: rgba(251, 251, 251, 0.15);">
        </div>
      </div>
      <div class="card-body">
        <h2 class="card-title">
          <%= post.title.capitalize %>
        </h2>
        <p class="card-text text-end mx-5">
          <%= link_to 'Edit', edit_post_path(post),
                      class: 'btn btn-light btn-sm' %>
          <%= link_to 'Delete', post_path(post),
                      data: {'turbo-method': :delete, 'turbo-confirm': "Are you sure?"},
                      class: 'btn btn-light btn-sm' %>
          <%= link_to 'Read', post_path(post) %>
        </p>
      </div>
    </div>
  </div>
<% end %>