<% provide :page_title, t('posts.index.title') %>
<% currently_at t('menu.posts')%>
<main class="my-5">
  <div class="container">
    <div class="text-center">
      <h1 class="mb-5">
        <strong><%= t('posts.index.title') %></strong>
        <% if current_user.try(:admin) %>
          <%= link_to '+', new_post_path,
                                     class: 'btn btn-outline-dark btn-sm',
                                     data: { turbo_frame: dom_id(Post.new) } %>
        <% end %>
      </h1>
      <div class="my-3"
        <%= turbo_frame_tag Post.new %>
      </div>
      <div class="row">
        <%= render 'post' %>
      </div>
        <%= paginate @posts %>
    </div>
</main>
