<p><%= t('devise.mailer.reset_password_instructions.title') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.reset_password_instructions.text_top') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.button'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.text_middle') %></p>
