<p><%= t('devise.mailer.unlock_instructions.title') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.unlock_instructions.text_top') %></p>

<p><%= t('devise.mailer.unlock_instructions.text_down') %></p>

<p><%= link_to t('devise.mailer.unlock_instructions.button'), unlock_url(@resource, unlock_token: @token) %></p>
