<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:page_title)) %></title>
    <%= display_meta_tags title: @page_title, description: @page_description, keywords: @page_keywords %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "media", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <%= yield :main_menu %>

    <%= render 'shared/carousel' %>

    <div id="flash">
      <%= render 'shared/flash' %>
    </div>

    <%= yield %>

    <%= render 'shared/footer' %>

  </body>

</html>
